<!DOCTYPE html>
<html>
<head>
	<title>Topic Binder</title>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  {{#if islogin}}
  <link rel="stylesheet" href="/css/login.css"/>
  {{else}}
  <link rel="stylesheet" href="/css/style.css"/>
  {{/if}}
</head>
<body>
  <div class="container">
    <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
    </div>
 </div>
   {{{body}}}
   <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
