<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{len users}}</h3>
                    <p>Users in System</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="completed-count"></h3>
                    <p>Completed Topics</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-checkmark-outline"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="inprogress-count"></h3>

                    <p>Pending Topics</p>
                </div>
                <div class="icon">
                    <i class="ion ion-load-a"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 id="notstarted-count"></h3>

                    <p>Not Started Topics</p>
                </div>
                <div class="icon">
                    <i class="ion ion-alert"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="box box-primary" id="topic-summary-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Topic Summary</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" data-column="1" class="form-control input-sm" placeholder="Search Topic ID" id="search-topic-id">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <!--<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>-->
                        <div class="btn-group">
                            <label for="projects">Projects : </label>
                            <select onchange="getTopicsSummary()" class="input-sm" id="projects">
                                {{#each projects as |proj|}}
                                    <option value="{{proj}}">{{proj}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" onclick="getTopicsSummary()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                           <!-- 1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>-->
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages" id="topic-summary">
                        
                    </div>
                   
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
                 <div class="overlay hide">
                        <div class="loading-text">Project summary is loading!</div>
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
            </div>
        </div>
        <!-- col-sm-12-->
        <div class="col-sm-12 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary" id="upload-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Upload Project</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                
                    <div class="box-body">
                    <form role="form" id="upload-form" action="/admin/upload" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input id="topic-file" type="file" name="topic-file">
                            <p class="help-block">Every file will be a standalone project so you will be able to see on the dropdown options.</p>
                        </div>
                     </form>
                    </div>
                     <div class="overlay hide">
                        <div class="loading-text">Please wait, your file is uploading!</div>
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" onclick="postUploadForm()" class="btn btn-primary">Upload</button>
                    </div>

            </div>
        </div>
    </div>
    <!-- Assign modal-->
    <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content box" id="assign-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="assignModalTitle">Topic Assignment</h4>
                </div>

                <div class="modal-body">
                    <form method="POST" action="/admin/assign" id="assignment-form">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Recipient:</label>
                            <select required="true" class="form-control" id="recipient" name="recipient">
                 <option value="">--none--</option>
                {{#each users as |us|}}
                    <option value="{{us._id}}">{{us.name}}</option>
                {{/each}}
            </select>
                        </div>
                        <div class="form-group">
                            <label for="number-of-topic" class="control-label">How many of them?</label>
                            <input type="number" required="true" class="form-control" name="numberoftopic" id="number-of-topic" />
                        </div>
                        <input type="hidden" name="topicid" id="topic-id-hidden" />
                        <input type="hidden" name="projectid" id="project-id-hidden" />
                    </form>
                   
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" onclick="postAssignment()" class="btn btn-primary">Submit</button>
                </div>
                  <div class="overlay hide">
                        <div class="loading-text">Assignment is completing!</div>
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
            </div>
        </div>
    </div>
     <!-- Assign modal-->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content box" id="detail-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="assignModalTitle">Topic Assignment Detail</h4>
                </div>

                <div class="modal-body">
                    <canvas id="pieChart" style="height:250px"></canvas>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                  <div class="overlay hide">
                        <div class="loading-text">Detail is completing!</div>
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
            </div>
        </div>
    </div>
</section>
