<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TOPIC BINDER</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/logout">Logout</a></li><!--
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>-->
          </ul>
        </li>
      </ul>
  </div>
</nav>
<div class="container tab-container">
          <ul class="nav nav-tabs">
              {{#if user.isadmin}}
              <li class="active">
                  <a  href="#1" data-toggle="tab">Upload Topic-Document</a>
                  <form action="/" enctype="multipart/form-data" method="post" class="form"> 
                      <h2 class="page-header">Upload File</h2>
                      <input type="file" name="topic-file" id="file-upload" /> 
                      <button>Import File</button> 
                  </form>
              </li>
              <li>
                  <a href="#2" data-toggle="tab">Pool</a>
              </li>
              <li>
                  <a href="#3" data-toggle="tab">Review</a>
              </li>
              {{else}}
              <li>
                  <a href="#3" data-toggle="tab">Merge</a>
              </li>
              <li>
                  <a href="#3" data-toggle="tab">History</a>
              </li>
              {{/if}}
          </ul>

          <div class="tab-content ">
              <div class="tab-pane active" id="1">
                <h3>Upload topic content</h3>
                <table style="width: 100%"> 
                    <thead>
                        <th>Id</th>
                        <th>Document Id</th>
                        <th>Topic Id</th>
                        <th>Score</th>
                    </thead>
                    <tbody> 
                        {{#each pools as |pool|}}
                          <tr>
                              <td> {{ pool._id }} </td>
                              <td> {{ pool.document_id }} </td>
                              <td> {{ pool.topic_id }} </td>
                              <td> {{ pool.score }} </td>
                          </tr>
                        {{/each}}
                    </tbody>
                </table>
              </div>
              <div class="tab-pane" id="2">
                <h3>Pool tab content</h3>
              </div>
              <div class="tab-pane" id="3">
                <h3>Review tab content</h3>
              </div>
          </div>
</div>
<div class="container">
    <div class="row">
     {{user.username}}
    </div>
</div>