{{#section 'css'}}
 <link rel="stylesheet" href="/dist/css/jquery-confirm.min.css">
{{/section}}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row" id="admin-summary-widget">
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>{{len users}}</h3><!-- etiket içindeki { {len users} } kodu hata veriyor kaldırıldı parantezler arası boşluk kalkacak -->
                                            <!--public > lib > helper.js içindeki ilk fonksiyona kontrol eklendi hata giderildi
                                                mongodb'deki nonadminlerin sayısı gözüküyor, ancak hatalı veri çekiyor kontrol edilecek -->
                    <p>Users in System</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="usermanagement" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div id="other-widget">
            {{> adminsummarywidget}}
        </div>
    </div>
    <!-- .row-->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{> fileManager}}
            {{> alert}}
            <div id="main-alert"></div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="box box-primary" id="topic-summary-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Topic Summary</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" data-column="1" class="form-control input-sm" placeholder="Search Topic ID" id="search-topic-id">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <label for="projects">Tracks : </label>
                                <select onchange="getTopicsSummary()" class="input-sm" id="projects">
                                    {{#each projects as |proj|}}
                                        <option value="{{proj.name}}">{{proj.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary btn-sm" title="Track Info" onclick="getTrackDetail()">
                                <i class="fa fa-info-circle"></i>
                            </button>
                            <div class="btn-group">
                                <label for="projects">Status : </label>
                                <select onchange="getTopicsSummary()" class="input-sm" id="stats">
                                    {{#each stats as |st|}}
                                        {{#if st.selected}}
                                        <option selected="true" value="{{st.value}}">{{st.label}}</option>
                                        {{else}}
                                        <option value="{{st.value}}">{{st.label}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </div>
                            <button type="button" onclick="getTopicsSummary()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        </div>

                        <!-- /.btn-group -->

                        <div class="col-md-12 text-right">
                            <form action="/admin/exportqrel" method="GET" style="display: inline-block">
                                <ul class="pagination pagination-sm inline">
                                    <li>
                                        <div class="btn-group" id="export-form" style="display:none;">
                                            <button type="submit" role="export" class="btn btn-xs btn-flat btn-warning"><i class="fa fa-file-text-o"></i>
                                                Export
                                            </button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group" id="pool-form" style="display: none">
                                            <button type="button" role="pool" class="btn btn-xs btn-flat btn-success"><i class="fa fa-cube"></i>
                                                Create Pool
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                                <input type="hidden" name="project" id="project-to-export" value="{{pool.project}}"/>
                              </form>
                              {{#gt projects.length 0}}
                                <div class="btn-group" id="delete-form">

                                        <button type="button" role="clean" class="btn btn-xs btn-flat btn-danger"><i class="fa fa-trash"></i>
                                            Clean Track
                                        </button>
                                </div>
                                {{/gt}}


                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive" id="topic-summary">

                    </div>

                    <!-- /.mail-box-messages -->
                </div>

                <!-- /.box-body -->
                 <div class="overlay hide">
                        <div class="loading-text">Track summary is loading!</div>
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
            </div>
        </div>
        <!-- col-sm-12-->
        <div class="col-sm-12 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary" id="upload-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Track</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                    <div class="box-body">
                        <form role="form" id="upload-form" action="/admin/upload" enctype="multipart/form-data" method="post">

                            <div class="form-group">
                                <label for="project-name">Track Name</label>
                                <input class="form-control" type="text" id="project-name" name="project-name" required="true"/>
                            </div>
                           {{!--  <div class="form-group">
                                <label for="project-file">Project Zip File</label>
                                <input type="file" class="form-control" name="project-file" id="project-file" accept=".zip" />
                                <p class="help-block">Zip all the files on your project and provide the zip file.</p>
                            </div> --}}
                            {{!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="input-file">Input File</label>
                                        <input class="form-control" multiple="true" id="input-file" type="file" name="input-file">
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="input-file">Row Count</label>
                                        <input class="form-control" id="row-count" type="number" name="row-count" value="50"/>
                                    </div>
                                </div>
                            </div> --}}
                            <div class="form-group">
                                <label for="topic-file">Choose DataSet</label>
                                <select required="true" class="form-control" id="dataset" value="" name="dataset">
                                     <option value="">--None--</option>
                                    {{#each datasets as |ds|}}
                                        <option value="{{ds}}">{{ds}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="project-file">DOCNO TAG</label>
                                <input type="text" class="form-control" name="docno-tag" id="docno_tag"  placeholder="default : DOCNO"/>
                                <p class="help-block">Please specify the tag which indicates the DOCNO in document files.</p>
                            </div>
                            <div class="form-group">
                                <label for="project-file">TEXT TAG</label>
                                <input type="text" class="form-control" name="text-tag" id="text_tag"  placeholder="default : TEXT"/>
                                <p class="help-block">Please specify the tag which indicates the TEXT in document files.</p>
                            </div>
                            <div class="form-group">
                                <label for="topic-file">Topic File input</label>
                                <input multiple="true" class="form-control" id="topic-file"  type="file" name="topic-file" id="topic_file">
                            </div>

                            <button class="form-control btn-primary" type="submit" class="btn btn-primary">Create Track</button>
                        </form>
                    </div>
                     <div class="overlay hide">
                        <div class="loading-text">Please wait, your file is uploading!</div>
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <!--<button type="button" onclick="postUploadForm()" class="btn btn-primary">Upload</button>-->
                    </div>

            </div>
        </div>
    </div>
    <!-- Assign modal-->
    {{> assignmodal}}
     <!-- Createpool modal-->
     {{> createpoolmodal}}
     <!-- track detail-->
     <div id="track-detail-container">
     </div>

</section>
{{#section 'script'}}
<!-- DASHBOARD JS -->
<script src="/dist/js/dashboardadmin.js"></script>
<!-- CHART -->
<script src="/dist/js/chart.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.4.5/angular.min.js"></script>
<script src="/dist/js/angular-file.js"></script>
<script src="/dist/js/fileManagerApp.js"></script>
<script src="/dist/js/jquery-confirm.min.js"></script>
{{/section}}
